@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --main-bg: #3f4149;
    --select-bg: #FF751F;
    --white: #ffffff;
    --sec-bg: var(--main-bg);
    --neutral-fill: #cfcfcf;
    --cor2: #aaa6a6;
    --cor3: #000000;
    
    

    
}
*{
    font-family: "Inter Tight", sans-serif;
}

#type,#finishing, #type h3 button, #finishing h3 button{
    color: var(--main-bg) !important;
}
#selectArea,#buttonCommentSector{
    background-color: var(--sec-bg);
    color: var(--white);
}
#sendButton{
    color: var(--sec-bg);
    border-color: var(--sec-bg);
}
#bandeja,#nav-os{

    background-color: var(--main-bg);

}
#partsNavigation ul li {
    color: var(--main-bg);
    border-color: var(--main-bg);
    
}

#partsNavigation ul .np-active,.add-part{
    color: var(--white) !important;
    background-color: var(--main-bg) !important;
    
}


#sideMenuDelete,#sideMenuComments,#sideMenuDuplicate,#sideMenuSave{

    background-color: var(--sec-bg);
    color: var(--white);

}
#sideMenuDelete:hover,#sideMenuComments:hover,#sideMenuDuplicate:hover{

    background-color: var(--select-bg);


}
#sideMenuSave{
    background-color: green;
}
#sideMenuSave:disabled{
    background-color: grey;
}

@media screen and (min-width: 10000px){
    .view{
        background-color: blue;     
    }
    .modelingMenuDiv{
        background-color: red;
    }
    .modelingSlicesDiv{
        background-color: green;
    }
    .slice{
        background-color: palevioletred;
    }
    .menu{
        background-color: purple;
    }
    header{
        background-color: aquamarine;
    }
}

#type,#finishing,#sectorCommentsLog,#sectorsCommentImput{

    background-color: var(--white);

}

body,h1,h2,h3,ul,textarea,p{
    margin: 0px;
    padding: 0px;  
    list-style: none;
}body{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modelPart{
    fill: var(--neutral-fill);
    stroke: rgb(0, 0, 0);
    stroke-width:15;
    stroke-miterlimit:22.9256;
}



.editing{
    fill: var(--select-bg);
  
    /* animation: pulsing 2s infinite linear; */
}
.editing{
    fill: var(--select-bg);
    --cor2: rgb(160, 72, 0);
    --cor3: var(--select-bg);
    /* animation: pulsing 2s infinite linear; */
}


use:hover{
    fill: rgb(144, 116, 94);
    transition: all 1000ms;
    z-index: 2;
}
.modelPart2:hover{
    transition: all 1000ms;
    --cor2: orange
    
}


/*containers =====================================================================================================*/
header{
    height: 10%;
}.nav-os{
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 100px 0px ;
    gap: 10px;
    padding-left:15px;

}.nav-os img{
    width: 20%;
    height: 10vh;
}.nav-os select{
    width: 70%;
    border-radius: 25px;
    padding: 10px;
}
.nav-os h3{
    color: white;
    display: none;
    cursor: not-allowed;
}
/* .editing{
    display: flex !important;
    transition: all 500ms;
} */
.nav-os h3 span{
    margin-inline: 10px;
}
.changeItemContainer{
    width: 100%;
}


@keyframes toast{
    0%{
        top: 5px;
        right: -200px;
    }
    5%{
        top: 5px;
        right: 5px;
    }
    90%{
        top:5px
    }
    100%{
        top: -200px;
  
    }
}
.toastNoSavedWarning{
    padding: 12px;
    background-color: rgba(165, 37, 37, 0.349);
    border: 2px solid red;
    color: red;
    position: absolute;
    right: -1000px;
    top: 5px;
    border-radius: 5px;
    z-index: 4
}
.toastAnimate{
    display: flex;
    animation: toast 5000ms;
}

.toastContent{
    display: flex;
    align-items: center;
}
.toastNoSavedWarning span{
    margin-right: 10px;
}
.toastNoSavedWarning P{
    margin: 0;
}

main{
    height: 90vh;
    display: flex;
}
/* main section{ */
    /* width: 50%;

} */

/* view ======================================================================================================*/

.view {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    justify-content: space-between;
    padding: 45px 20px;
    

}
.view h1{
    font-size: 35px;
    text-align: left;
    width: 100%;
    border-left: 5px solid var(--main-bg);
    color: var(--main-bg);
    padding-left: 10px;
}
.view ul{
    bottom: -20px;
    display: flex;
   justify-content: center;
   gap: 15px;
   z-index: 3;
   flex-wrap: wrap;
}
.clearAllTags{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    background-color: #22333B;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.closeButton{
    border-radius: 50%;
    padding: 0px;
    outline: 0px;
    font-size: 15px !important;
    border: 2px solid var(--main-bg);
    background-color: white;
    color: var(--main-bg);
    position: absolute;
    left: -8px;
    top:calc(50% - 10px);

}
.tagTitle{
    text-align: center;
    margin: 0px;
    font-size: 10px;
   
}
.tagItemPart{
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: var(--select-bg);
     
    border-radius: 10px;
    padding-inline: 10px;
}

.itemParteTag{
    background-color: var(--select-bg);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
    display: none;
    position: relative;
}

.modelingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 85%;
}

.modelingMenuDiv{
    display: inline-block; 
    width:15%;  
    
}.modelingMenuDiv nav{
    display: flex; 
    flex-direction: column;  
    align-items: start;
    gap: 15px;
}.modelingMenuDiv nav button{
    width: 65%;
    margin-left: 17.5%;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 500ms;
}.modelingMenuDiv nav button:hover{
    scale: 1.1;
    transition: all 500ms;
}.modelingMenuDiv nav button .material-symbols-outlined{
    font-size: 40px;
    text-align: center;
}
.modelingMenuDiv nav button:disabled:hover{
    background-color: grey;
    scale: 1.0;
    cursor: auto;
}



.modelingSlicesDiv{
    align-items: end;
    display: flex; 
    width:95%;  
    height:100%; 

    position:relative 
}.modelingSlicesDiv .slice{
    height: 100% ; 
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.slice svg{
    max-height: 100%;
 
  
}




/* menu modelagem ============================================================================================*/

/* NAVEGAÇÃO */

.menu{
    width: 40%;
}
.menu nav{
    display: flex;
    list-style: none;
    height: 10vh;
}.menu nav ul{
    display: flex;
    gap: 10px;
    margin-left: 40px;
    list-style: none;
    width: 100%;

}.optionPart{
    display: none;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 5px;
    width: 10%;
    text-align: center;
    border: 5px solid;
    border-bottom: none;
    cursor: pointer;
    font-size: 50%;
    transition: all 100ms;
    position: relative;
   
    align-items: center;
}
.partIconContainer {
    height: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.menu nav ul li img {
    width: 100%;
    transition: width 50ms;
    margin-top: 0 auto   
}

.menu nav ul li.np-active p{
  
    top: 45px;
   
}
.menu nav ul li:hover{
    width: 12%;
    
}

.np-active img{
    width: 100% !important;
}




/* BANDEJA */

.bandeja{
    border-radius: 40px 0px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}.bandeja section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectAcordion{
    gap: 10px;
}.selectAcordion .field{
    border-radius: 25px;
    padding: 10px;    
}.selectAcordion .field h3{
    display: flex;
    align-items: center; 
    cursor: pointer; 
}
.selectAcordion .field button{
    background-color: transparent;
    border: none;
    
}

.miniatura{
    width: 16%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 25px;
    display: none;
    filter: grayscale(100);
    z-index: 1;
    overflow: hidden;
    
}

.itemTag{
    background-color: #FF751F;
    color: rgb(255, 255, 255);
    height: 0px;
    margin: 0px;
    padding-block: 0px;
    padding-inline: 5px;
    text-align: center;
    font-size: 10px;
    transition: all 500ms;
}
.miniatura:hover> .itemTag{
    height: auto;
    padding-block: 5px;
    transition: all 500ms;
}
.enabled{
    box-shadow: rgba(182, 182, 182,1) 0px 1px 4px;
    filter: grayscale(0);
    order: -1;
    border: none;
    transition: box-shadow 600ms;
    cursor: pointer;
}

.enabled.selected{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(255, 94, 0, 0.5) 0px -3px 0px inset;
    border: 1.5px rgba(255, 94, 0, 0.5) solid;
   
}

.typeContent{
    justify-content: center;
    /* overflow-x: visible;
    overflow-y:auto; */
    align-items: start;
    flex-wrap: wrap;
    display: none;
    column-gap: 15px;
    padding: 10px 5px;
    transition: height 500ms;
}

.typeContent.open{
    display: flex;
    animation-name: open;
    animation-duration: 500ms;
    height: 16.5vw;
    
}
.miniatura img{
    
    width: 100%;
    border-radius: 25px;

}


.selectAcabamentos{

    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 10px;
    width: 100%;

}

.acabamentoPendente{
    color: white;
    background-color: rgb(180, 15, 15);
    border: rgb(180, 15, 15) 2px solid;
    

}
.acabamentoPendente:focus{

    outline: red;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: red 2px solid;

}

.sectorComments{
    display: flex;
    flex-direction: column;

    gap: 10px;
}.sectorComments > .entry,.log{
    padding:10px;
    border-radius: 25px;
}.sectorComments .log{
    border-radius: 25px;
    max-height: 300px !important;
    box-sizing: border-box;
    align-items: center;
    display: flex;

}.sectorComments .log.open{
    height: 20vw;
}
.sectorComments .log p{
    text-align: center;
    margin: 0 auto;
    
}

.sectorComments .entry .selectArea{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -145px;
    padding: 10px;
}

.sectorComments .entry{
    position: relative;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-items: end;
}

.inputs{
    width: 90%;
    
}
.inputs button{
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
}
.sectorComments .entry .inputs textarea{
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15px;
    border: none;
    overflow: auto;
}.sectorComments .entry textarea:focus{
    outline: none;
}

.buttonCircle{
    border:3px solid;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 500ms;
    height: 35px;
    aspect-ratio: 1/1;
}





 .incompleteWarningContainer{
    display: flex;
    justify-content: end !important;
    position: absolute;
    top:-15%;
    left: -10px;
    max-height: 29px;
    display: none;
 }
 .checkWarningContainer{
    display: flex;
    justify-content: end !important;
    position: absolute;
    top:-15%;
    left: -10px;
    max-height: 29px;
 }
 .incompleteWarning{
    font-size: 20px !important;
    background-color: red;
    color: white ;
    border-radius: 50%;
    border: 4px white solid;
    
    
 
 }
 .checkWarning{
    font-size: 20px !important;
    background-color: rgb(79, 134, 42);
    color: white ;
    border-radius: 50%;
    border: 3px white solid;
 }
 /* .np-active .checkWarningContainer{
    
    display: none !important;
 } */
 .np-active .incompleteWarning{
    
    border: 3px white solid;
 }